.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.searchinput {
  padding: 1rem !important;
  min-width: 85vw;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.searchbtn {
  color: white;
  background-color: rgb(61, 61, 61);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.searchbtn:hover {
  background-color: rgb(41, 41, 41);
}

.aibharatbtn {
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

